/* @import "header.css";
@import "article.css"; */

* {
  border: solid 1px orange;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

header h1 {
  text-align: center;
  font-family: "Mali", cursive;
  font-weight: 900;
  color: #9d5d35;
}

.navbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.navbar a {
  background-color: #e2e2e2;
  color: black;
  text-align: center;
  width: 100%;
}

.article {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

.article h2 {
  text-align: center;
}

.article p {
  margin-top: 1rem;
  margin-bottom: 0rem;
}

footer {
  border-top: 1px solid gray;
  text-align: center;
}
